* {
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.815);
}
h1 {
  color: hsl(230, 80%, 50%);
}
button {
  padding: 7px 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  /* download fonts */
  color: hsl(240, 100%, 50%);
  background: hsl(300, 100%, 50%);
  border: none;
  border-radius: 5px;
}
button:hover {
  background: hsl(320, 80%, 50%);
  cursor: pointer;
}
button:active {
  color: hsl(300, 100%, 50%);
  background: hsl(240, 100%, 50%);
}

.images {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.images img {
  width: 50px;
  background: hsla(113, 100%, 50%, 0.705);
  border-radius: 50%;
  padding: 10px;
}
.images img:hover {
  background: hsla(115, 100%, 50%, 0.8);
  cursor: pointer;
}
.score {
  background: rgba(30, 255, 0, 0.705);
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: hsl(240, 80%, 50%);
  font-weight: bold;
}
#result {
  font-size: 20px;
  visibility: visible;
  /* change color to green when win and red when lose */
}
